<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
            
			<class name="testcases.NewProudctCreation" />
			<class name="testcases.AddProduct" />
			<class name="testcases.CloneProduct" />
			<class name="testcases.DeletePackage" />
			<class name="testcases.AccountAssociations" />
			<class name="testcases.RemoveAccountAssociations" />
			<class name="testcases.DeleteProduct" />
			<class name="testcases.AddStandaloneAddons" />
			<class name="testcases.DeleteStandaloneAddons" />
			<class name="testcases.AddDynamicGroups" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
